h1,h2,p,li{
	font-family:comic-sans;
}
.bg{
	background-image: url("../pics/Background-cal.jpg");
}
.nav-tabs li{
    background-color: lightblue;
 /*   margin: 0px 1px; */
    font-size: 20px;	
}
#content{
	/*background-color: white; */
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px;
}
.day li{
	float: left;
	width: 14.2857%;
	height: 100px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: lightblue;
	/*text-align: center;*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}
.daynames li{
	float: left;
	width: 14.2857%;
	height: 50px;
	background-color: #d0e1df;

}
.daynames {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-style: oblique;
	font-size: 2em;
	text-align: center;
}
.calendar .day {
	width: 14%;
	display: inline-block;
	background-color: lightblue;
	text-align: center;

}
.rec-left{
	float: left;
	margin-left:1%;
	width: 50%;
	background-color: lightblue;
	border: 1px solid black;
	margin-bottom: 20px;
	border-radius: 5px;
}
.recipe li{
/*	list-style-type: circle;*/
	padding-bottom: 10px;
	list-style-position: inside;
	padding-left: 10px;
	font-size: 1em;
	text-align: center;
}
.recipepic{
	float: right;
	width:45vw;
	height:80vh;
	margin-right: 1%;
}
h1{
	text-align: center;
	padding-bottom: 10px;
}
h2{
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.calender img:hover{
	opacity: 0.50;
}
.banner img{
	width: 100%;
	height: 15%;
}
.fpcontent{
	background-image: url("../pics/Background fp.jpg");
	background-size:cover;
	height: 500px;

}
.textbox p{
	text-align: center;
	margin:auto;
	max-width: 50%;
	background-color: white;
}
a:visited
	{
		background-color: red;
	}
.textbox h1{
	background-color: white;
}
.comments li{
	list-style-type: circle;
}
.wcomments input{
	text-align: center;
	vertical-align: center;
	padding: 5px;
	border-radius: 5px;

}
.wcomments{
	text-align: center;
	vertical-align: center;
		margin:auto;

}
.loginwindow{
		text-align: center;
	vertical-align: center;
	background-color: lightblue;
	border: 1px solid black;
	margin:10%;
	border-radius: 5px;
	padding: 20px;
}
.loginwindow h2{
	margin-top: 5px;
}